


    <nav class="navbar navbar-expand-sm navbar navbar-dark" style="background-color: #000000;">
      <div class="container">
        <button
          class="navbar-toggler"
          (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed"
          aria-controls="collapseExample">
          <i class="fa fa-arrow-down"></i>
        </button>
        <div class="navbar-brand">Clean Air Sports</div>
        <div
          class="collapse navbar-collapse"
          id="collapseExample"
          [ngbCollapse]="isCollapsed">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a routerLinkActive="active"
                routerLink="/home" (click)="topScroll()" class="nav-link">Home</a>
              </li>
              <li class="nav-item">
                <a routerLinkActive="active"
                routerLink="/canopy" (click)="topScroll()" class="nav-link">About Us</a>
              </li>
              <li class="nav-item">
                <a routerLinkActive="active"
                routerLink="/services"  (click)="topScroll()" class="nav-link">Services</a>
              </li>
              <li class="nav-item">
                <a routerLinkActive="active"
                routerLink="/blog"  (click)="topScroll()" class="nav-link">Blog</a>
              </li>
              <li class="nav-item">
                <a routerLinkActive="active"
                routerLink="/contact"  (click)="topScroll()" class="nav-link">Contact</a>
              </li>
            </ul>
        </div>
