<ngb-carousel>
  <ng-template ngbSlide>
    <div id="divHeight" style="background:url('../../assets/tumbnail2.jpg'); background-size: cover; background-repeat: no-repeat;"></div>
    <div class="carousel-caption d-none d-sm-block">
      <h3>I like this stuff!</h3>
      <p>Welcome to this webpage.</p>
      <button class="btn btn-outline-warning">link</button>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div id="divHeight" style="background:url('../../assets/tumbnail1.jpg'); background-size: cover; background-repeat: no-repeat;"></div>
    <div class="carousel-caption d-none d-sm-block">
      <h3>Second Label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <button class="btn btn-outline-warning">link</button>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div id="divHeight" style="background:url('../../assets/tumbnail3.JPG'); background-size: cover; background-repeat: no-repeat;"></div>
    <div class="carousel-caption d-none d-sm-block">
      <h3>Third Label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      <button class="btn btn-outline-warning">link</button>
    </div>
  </ng-template>
</ngb-carousel>
