<img src="../../assets/cleanair.png"  id="titleLogo" alt="">
<app-carousel></app-carousel>

<!-- HOME ICON SECTION -->

<section id="home-icons" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-4 text-center">
        <i class="fa fa-fighter-jet fa-3x mb-2"></i>
        <h3>Tunnel Coaching</h3>
        <p>Training in a direction to add layer upon layer of skill. We believe it is benificial to learn slow flight first. That's how it's done with us. Building trust at 110mph before we try to not hit a wall at 180 mph. Let's progress. </p>
      </div>
      <div class="col-md-4 mb-4 text-center">
        <i class="fa fa-cloud fa-3x mb-2"></i>
        <h3>Skydive Coaching</h3>
        <p>We love skydiving and we hope you do to. The tunnel is amazing! We just love flying parachutes. So if you would like to be able to enjoy the same thing we understand. Let us go play with some nylon!</p>
      </div>
      <div class="col-md-4 mb-4 text-center">
        <i class="fa fa-unlock fa-3x mb-2"></i>
        <h3>Organizing</h3>
        <p>Unlock your potential, while pushing your limits. Potential for freefly, angle, tracking, mixed, hybrid. If we find a fun group who challenges eachother. The challenges get more complex, with something to work for.</p>
      </div>
    </div>
  </div>
</section>

<!-- HOME HEADING SECTIION -->

<section id="home-heading" class="p-5">
  <div class="dark-overlay">
    <div class="row">
      <div class="col">
        <div class="container pt-5">
          <h1>Are you ready to get started?</h1>
          <p class="d-none d-md-block">This is a passion of ours and we would like to share what we have learned. It's hard enough to find people to jump with at dropzones around the same skill level. It could be a useful tool to gain coaching to progress quicker. Working towards shredding that Gnar!</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- INFO SECTION -->

<section id="home-info" class="py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-6 align-self-center">
        <h3>Understanding Complex Systems</h3>
        <p>Logic explained, what is actually happening to cause the flight characteristics that we have. Understanding more complex reasoning behind certain bodyflight, and canopy flight. Where to avoid and the pitfalls.</p>
        <button class="btn btn-outline-danger btn-lg">Learn More</button>
      </div>
      <div class="col-md-6">
        <img src="../../assets/tumbnail3.JPG" class="img-fluid" alt="">
      </div>
    </div>
  </div>
</section>
